.vs/
# VS build outputs & caches
*.obj
*.iobj
*.pdb
*.ipch
*.pch
*.tlog
*.log
*.ilk
*.iopt
*.idb
*.LastBuildState
*.recipe
*.res
*.exe
*.dll
*.lib
*.exp

# Local build trees
vc22/.vs/
vc22/x64/
vc22/theforgo.A10F9657/
vcpkg_installed/

# OS/editor
Thumbs.db
.DS_Store
